<form method="POST" action ="/new">
    <fieldset>
        <legend>Create new message</legend>
        <label for="msgName">From:</label>
        <input type="text" id="msgName" name="name">
        <label for="msgText">From:</label>
        <textarea type="text" id="msgText" name="content" rows="5" cols="30"></textarea>
    </fieldset>
</form>