<form method="POST" action="/new">
    <fieldset>
        <legend>Create new message</legend>
        <div>
            <div>
                <label for="msgName">From:</label>
            </div>
            <div>
                <input type="text" id="msgName" name="name">

            </div>

        </div>
        <div>
            <div>
                <label for="msgTitle">Title:</label>
            </div>
            <div>
                <input type="text" id="msgTitle" name="title">

            </div>

        </div>
        <div>
            <div>
                <label for="msgText">Message:</label>

            </div>
            <div>
                <textarea type="text" id="msgText" name="content" rows="5" cols="30"></textarea>

            </div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>



    </fieldset>
</form>