<html>
    <head>

    </head>
    <body>
        <div>
            <p><a href="/">Return</a></p>
        </div>
        <div>
            <h2><%= message.title %></h2>
            <p><%= message.text %></p>
            <p>From: <%= message.user %></p>
            <p>Received: <%= message.added %></p>
        </div>

    </body>
</html>